body {
    margin: 0;
    background-color: #333333;
}

:root {
    --audio-height: 54px;
    --audio-up-down-margin: 30px;
    --container-width: 960px;
    --line-on-color: #dd302d;
}

ul {
    transition-duration: 600ms;
}

ul,
li {
    list-style: none;
    padding: 0;
    margin: 0;
    color: #cccccc;
}

li.on {
    color: var(--line-on-color);
    font-weight: bold;
    /* letter-spacing: 2px; */
}

p {
    /* overflow: hidden; */
    text-overflow: ellipsis;
    height: 20px;
    /* line-height: 17px; */
    /* -webkit-line-clamp: 1; */
    -webkit-box-orient: vertical;
    /* display: -webkit-box; */
    text-align: center;
    margin-top: 0;
    margin-bottom: 16px;
}

#mainaudio {
    position: fixed;
    width: calc(100vw - 2*var(--audio-up-down-margin));
    left: 0;
    right: 0;
    padding: var(--audio-up-down-margin);
    margin: 0 auto;
    background-color: #333333;
}

#container {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    padding-bottom: var(--audio-up-down-margin);
    margin: calc(2 * var(--audio-up-down-margin) + var(--audio-height)) auto 0;
    float: left;
    overflow: hidden;
    display: flex;
}

.lyriclist {
    margin: 0 auto;
    padding: 0;
    /* width: calc(var(--container-width)/2); */
    width: auto;
}

@media(min-width: 960px) {
    #container {
        width: var(--container-width);
    }

    #mainaudio {
        width: calc(var(--container-width) - 2*var(--audio-up-down-margin));
    }
}